*{
    margin: 1%;
}
body{
    background-color: #313638;
    color: #dcdcdc;
}
h1{
    margin-top: 20px;
    animation: slideDown 1s ease forwards;
}
  
@keyframes slideDown {
    0% {
      transform: translateX(15px);
      opacity: 0;
    }
  
    75% {
      transform: translateX(-15px);
      opacity: 1;
    }
}
h2{
    margin-top: 50%;
    color: #c6c6c6; 
    text-shadow: 2px 2px 4px #9b3c3c;
}
.shape{
    width: 30%;
    height: 450px;
    background-color: #000;
    border-radius: 13px 13px;
    border-top: 10px solid #ff0000;
    border-bottom: 10px solid #be7474;
    border-left: 10px solid #50502e;
    border-right: 10px solid #70701a;
    animation: anime 1s linear infinite;
}
@keyframes anime{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(360deg);
        border-top: 10px solid #be7474;
        border-bottom: 10px solid #ff0000;
        border-left: 10px solid #70701a;
        border-right: 10px solid #50502e;
    }

}